<!DOCTYPE html>
<html>
<head>
  <title>Jumpstartrails</title>
  <%= metamagic title: "My default title", 
    description: "My default description.", 
    keywords: %w(rails ruby Ruby on Rails) %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
