<!DOCTYPE html>
<html>
<head>
  <%= metamagic :title => "JumpStartRails", :description => "My Blog about Rails", :keywords => %w(rails ruby ruby on rails Rails) %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
