<!DOCTYPE html>
<html>
<head>

  <%= metamagic title: "JumpStart Rails", description: "The JumpStart Rails app", keywords: %w(rails ruby Ruby on Rails) %>
  <%= stylesheet_link_tag    "pages", media: "all", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css"/>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

      <div class="masthead">
        <h3 class="muted">Jump Start Rails</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <%= nav_link 'Home', root_path %>
                <%= nav_link 'About', about_path %>
                <%= nav_link 'Blog', posts_path %>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>

    <%= yield %>
    <hr>

  <div class="footer">
    <p>&copy; Jump Start Rails 2013</p>
  </div>
</div> <!-- /container -->

</body>
</html>
